/*
Theme Name:		WP Bootstrap Starter - OpenAlt
Theme URI:		https://gitlab.com/OpenAlt/wp-bootstrap-starter-openalt
Author:				Michal Stanke
Author URI:		https://gitlab.com/OpenAlt/
Template:			wp-bootstrap-starter
Description:	Vzhled pro stránky spolku OpenAlt z.s.
Version:			3.3.6
License:			GNU General Public License v2 or later
License URI:	https://www.gnu.org/licenses/gpl-2.0.html
*/

.bg-primary {
	background-color: black !important;
}

a {
	color: #009d92;
}

a:hover, a:focus {
	color: #92c3bc;
}

header .navbar-brand img {
	height: 30px;
}

header #main-nav {
	justify-content: flex-start !important;
	margin-left: 30px;
}

header #main-nav .nav-link {
	text-transform: unset !important;
	font-size: 1.2em;
	font-weight: unset;
}

/* Increase gap between primary and secondary content when secondary is rendered as a sidebar */
@media (min-width: 992px) {
	#secondary.widget-area {
		padding-left: 45px;
	}
}

/* Increase gap between primary and secondary content when secondary is rendered below */
@media not (min-width: 992px) {
	#secondary.widget-area {
		border-top: 1px solid #eaecef;
		margin-top: 25px;
		padding-top: 45px;
	}
}

/* Rounded search widget (style copied from .post-navigation) */
.widget_search input[type="search"] {
	border: 1px solid #ddd;
	border-radius: 0.938rem;
	background: none;
}

.widget_search button {
	border: 1px solid #ddd;
	border-radius: 0.938rem;
	background: none;
	color: #3E3F3A;
	font-weight: normal;
}

.widget_search button:hover {
	background: #eee none repeat scroll 0 0;
}

/* Stretch footer widget to full width */
#footer-widget .row div {
	flex: unset;
	max-width: unset;
}

#footer-widget .widget:last-child {
	margin-bottom: 0;
}

/* Match footer widget font size with footer content */
#footer-widget .widget {
	font-size: 14px;
	color: black;
}

/* Hide default generated template footer */
footer.site-footer {
	display: none;
}

/* Reset heading font size to match 'sandstone.css' */
h1.entry-title {
	font-size: 2.1875rem;
}

h2.entry-title {
	font-size: 1.75rem;
}

/* Remove horizontal border between article heading and content in the archive */
#primary h2.entry-title {
	border: none;
}

/* Hotizontal border between articles in the archive */
#primary article.type-post:not(:last-of-type) {
	border-bottom: 1px solid #eaecef;
	padding-bottom: 2rem;
	margin-bottom: 2rem;
}

/* Increase content font-size */
#content {
	font-size: 15px;
}

/* Make the archive navigation look like a button (style copied from .post-navigation) */
.posts-navigation .nav-links a {
	border: 1px solid #ddd;
	border-radius: 0.938rem;
	display: inline-block;
	padding: 0.313rem 0.875rem;
	text-decoration: none;
}

.posts-navigation .nav-links a:hover {
	background: #eee none repeat scroll 0 0;
}

/* Make the edit link for posts and pages look like a button (style copied from .post-navigation) */
.entry-footer .edit-link a {
	border: 1px solid #ddd;
	border-radius: 0.938rem;
	display: inline-block;
	padding: 0.313rem 0.875rem;
	text-decoration: none;
}

.entry-footer .edit-link a:hover {
	background: #eee none repeat scroll 0 0;
}
